azure-identity
azure-mgmt-resourcegraph
msgraph-sdk
kuzu
streamlit
pyvis
pandas
python-dotenv
requests
azure-synapse-artifacts
azure-mgmt-datafactory
azure-storage-blob
pyodbcazure-storage-blob
pyodbc
